<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>

    <div>
        {{if .version}}
            {{ .version }}
        {{else}}
            version not set 
        {{end}}
    </div>

</body>
</html>




 

 
